.avatar-container {
    background-color: #dde1e7;
    width: 65vh;
    height: 35vh;
    max-height: 50vh;
    padding: 20px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 12px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #ffffff73; /* Change the color to your desired color */
      }
    
      &::-webkit-scrollbar-track {
        background-color:  #dde1e7; /* Change the track color to your desired color */
      }
}

h3 {
    margin: 0;
    padding: 5px 0 5px 200px;
    /* Adjust the padding as needed */
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain aspect ratio and cover the entire container */
    border-radius: 50%;
    border: 10px solid transparent;
    transition: border-color 0.3s ease;

    &.selected {
        border-color: #3498db; // Change to your desired color for the selected avatar
    }
}

mat-grid-tile {
    background: #dde1e7;
    box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
}

.avatar-grid {
    max-height: 100%; /* Set a maximum height for the grid list */
    
    
  }

.avatar-btn{
    height: 40px;
    width: 100px;
    background-color: #b5b8bd;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
    cursor: pointer;
    margin-top: 10px;
    &:hover {
        transform: scale(1.1);
      }
    
}