<div class="default-thread" *ngIf="!chatService.selectedUser?.username">
  <p>Welcome to Geeks4Chetting</p>
  <p>Pick your favorite geek and strart chatting</p>
</div>
<section class="msger" *ngIf="chatService.selectedUser?.username" >
  <header class="msger-header">
    <div class="msger-header-profile">
      <div class="profile-pic"></div>
      <p>{{ chatService.selectedUser?.username }}</p>
    </div>
    <div class="msger-header-options">
      <span><i class="fas fa-cog"></i></span>
    </div>
  </header>

  <main class="msger-chat" #scrollMe [scrollTop]="messages.length === 0 ? 0 : scrollMe.scrollHeight" >

    <div *ngFor="let message of messages" class="msg" [ngClass]="{ 'left-msg': message.sender !== currentUser, 'right-msg': message.sender === currentUser}">

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">{{ message.sender }}</div>
          <div class="msg-info-time">{{ message.timestamp | date:'HH:mm' }}</div>
        </div>

        <div class="msg-text">
          {{ message.content }}
        </div>
      </div>
    </div>
  </main>

  <form class="msger-inputarea" (ngSubmit)="sendMessage()">
    <input type="text" class="msger-input" placeholder="Enter your message..." [(ngModel)]="newMessageContent" name="messageContent" required>
    <button type="submit" class="msger-send-btn">Send</button>
  </form>
</section>
