
body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dde1e7;
  font-family: Helvetica, sans-serif;
}

main {
  height: 95%;
  width: 95%;
 
  display: flex;
}

.list {
  flex: 30%;
}

.thread {
  flex: 70%;
}

