.profile-container {
    min-width: 50vh;
    min-height: 55vh;
    max-width: 50vh;
    max-height: 55vh;
    background-color: #dde1e7;
    padding: 10px;
    margin: 0px;
    border: 1px solid#dde1e7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .profile-container h2{
    margin: 4px 0 0 38%;
  }

  .profilePicture{
     width: 10vh;
     height: 10vh;
     margin: 4px 0 5px 38%;
     border-radius: 20px;
     padding: 10px;

     background-color: #414241;

  }

  .row-form {
    display: flex;
    justify-content: space-between;
  }

  .row-form-bio{
    display: flex;
    flex-flow: column wrap;
  }

  .row-form-bio label{
   margin-left: 45%;
   color: gray;
   font-size: 20px;

  }

  .row-form-bio textarea{
    font-size: 18px;
    background: #dde1e7;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC,
      inset -5px -5px 10px #ffffff73;
    max-width: 100%;
    min-height: 50px;
    height: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 16px;
    border: none;
  }
  
  .form-group {
   
   display: flex;
   flex-flow: column wrap;
   min-width: auto;
   min-height: 8vh ;
   margin: 2px 0 5px 0px; /* Adjust as needed for spacing between fields */
  }

  .form-group label{
    color: gray;
    font-size: 20px;
    margin-left: 10px;
  }
  
  .form-group input{
   
    font-size: 18px;
    background: #dde1e7;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC,
      inset -5px -5px 10px #ffffff73;
    width: 150px;
    height: 20px;
    margin: 4px 0 0 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 16px;
    border: none;
  }

button{
  width: 25%;
  height: 4vh;
  font-size: 10px;
  line-height: 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #dde1e7;
  color: #595959;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
}


  
  